<h1>Success</h1>
<p>Please copy the access token below and paste into Stream Pucks. This will allow you to play the game with viewers on your channel.</p>
Access token (treat like a password, do not show this to anyone): 
<input id="tokenField" type="password" value="{{ token }}" />
<button id="showTokenButton">Show Token</button>
<button id="copyTokenButton">Copy to Clipboard</button>