<div id="avatarContainer">
    <img id="avatarImg" src="{{ avatarUrl }}" />
</div>
<div id="userNameContainer">
    <h1><span id="userName">{{ userName }}</span></h1>
    <h3><span id="totalPucks">Pucks: {{ totalPucks }}</span></h3>
    <h3><span id="playerScore">Score: {{ playerScore }}</span></h3>
</div>