<div class="powerContainer">
    <input type="range" min="1" max="100" value="50" class="leftPowerSlider" id="leftPowerSlider">
    <input type="range" min="1" max="100" value="50" class="rightPowerSlider" id="rightPowerSlider">
</div>
<div class="powerDisplay">
    <p><span id="leftPowerDisplay"></span></p>
    <p><span id="rightPowerDisplay"></span></p>
</div>
<div class="slider">
    <input id="leftAngle" />
    <input id="rightAngle" />
</div>
<div class="puckNumber">
    <input type="text" id="leftLauncher" class="leftLauncher" onkeypress="return AllowNumbersOnly(event)">
    <input type="text" id="rightLauncher" class="rightLauncher" onkeypress="return AllowNumbersOnly(event)">
</div>
<div class="sendButton">
    <button type="button" class="block" id="sendButton">Fire Pucks</button>
</div>